.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

mat-card {
  min-width: 500px;
  padding: 25px;
}

mat-card-content {
  padding: 15px;
}

.full-width {
  width: 100%;
}
