:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar .footer {
  justify-content: center;
  font-size: 0.85rem;
}

mat-sidenav-container {
  flex: 1;
  overflow: hidden;
  min-height: 0;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 24px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
